<po-page-list>
    <br>
    <br>
    <br>
    <app-navbar></app-navbar>
    <info-hero
        labelTitle="User"
        labelValue="user works!" 
    >
    </info-hero>
    <div *ngIf="userProfile">
        <p>First Name: {{ userProfile.firstName }}</p>
        <p>Last Name: {{ userProfile.lastName }}</p>
        <p>Email: {{ userProfile.email }}</p>
        <p>Consultant Job: {{ userProfile.consultantJob }}</p>
        <p>Blocked: {{ userProfile.block ? "true" : "false" }}</p>
    </div>
</po-page-list>